header{
    background-color: #343a40;
    padding: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
    color: white;
}

#logoPpal{
    height: 60px;
}